@import ./color

//  color
$primary: $primary-color
$accent: $accent-color
$warn: $warn-color
    
//  double-layout
$double-layout-container-width: 950px
$double-layout-left-width: 600px
$double-layout-right-width: $double-layout-container-width - $double-layout-left-width

//  display
%flex-row
    display: flex
%flex-row-reverse
    display: flex
    flex-direction: row-reverse
%flex-column
    display: flex
    flex-direction: column

//  border
%border-primary
    border: 1px solid $primary
%border-radius
    border-radius: 10px