<div class="comment-container" *ngIf="model">
  <div class="avatar-box">
    <a [routerLink]="['/', model.authorAccount]">
      <img class="avatar" [src]="model.avatar" alt="avatar">
    </a>
  </div>
  <div class="name">
    <a [routerLink]="['/', model.authorAccount]">
      <span class="user-name">{{model.authorName}}</span>
      <span class="account">@{{model.authorAccount}}</span>
    </a>
    <span class="comment-date">{{model.dateTime}}</span>
  </div>
  <div class="content">
    <app-content-box [data]="model.content" [code]="'comment-' + model.id"></app-content-box>
  </div>
  <div class="actions">
    <button mat-icon-button color="primary">
      <mat-icon>favorite</mat-icon>
    </button>
    <span>{{model.agreeCount | kilo }}</span>
  </div>
</div>
