@import ../../../../styles/_variable
    
.current-nav-container
    @extend %flex-column
    width: 100%

.avatar-row
    margin-left: 1rem
    margin-bottom: 1rem

.account-box
    display: grid
    grid-template-columns: 50px auto
    grid-column-gap: .5rem
    .avatar
        grid-row-start: 1
        grid-row-end: 3
        width: 50px
        border-radius: 50px
    .name
        color: $foreground
    .account
        font-size: .9rem
        color: transparentize($foreground, .5)

.actions
    margin-left: 1rem
    a
        @extend %flex-row
        align-items: center
        margin: .3rem 0
        padding: .3rem 0 .3rem 1rem
        border-radius: 50px
        font-size: 1.3rem
        color: black
        text-decoration: none
        &:hover
            color: $primary
            background-color: transparentize($primary, .9)
        span
            margin-left: 1rem

    .apply-new-blog
        margin-top: 1.5rem
        button
            font-size: 1rem
            width: 100%
            padding-top: .2rem
            padding-bottom: .2rem
