<div class="current-nav-container">
  <div class="avatar-row">
    <a [routerLink]="['/', identityInfo.account]">
      <img class="avatar" src="identityInfo.avatar" alt="avatar">
    </a>
  </div>
  <div class="actions">
    <a class="home" routerLink="/">
      <mat-icon>home</mat-icon>
      <span>首页</span>
    </a>
    <a class="explore" routerLink="/explore">
      <mat-icon>highlight</mat-icon>
      <span>随便看看</span>
    </a>
    <div class="apply-new-blog">
      <button mat-raised-button color="primary" (click)="postBlog()">发布新博文</button>
    </div>
  </div>
</div>
