<div class="current-nav-container">
  <div class="avatar-row">
    <a class="account-box" [routerLink]="['/', identityInfo.account]">
      <img class="avatar" [src]="identityInfo.avatar | host" alt="avatar">
      <span class="name">{{identityInfo.nickname}}</span>
      <span class="account">@{{identityInfo.account}}</span>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        登出
      </button>
    </mat-menu>
  </div>
  <div class="actions">
    <a class="home" routerLink="/">
      <mat-icon>home</mat-icon>
      <span>首页</span>
    </a>
    <!-- <a class="explore" routerLink="/explore">
      <mat-icon>highlight</mat-icon>
      <span>随便看看</span>
    </a> -->
    <a class="explore" routerLink="/discuss/list">
      <mat-icon>highlight</mat-icon>
      <span>讨论</span>
    </a>
    <div class="apply-new-blog">
      <button mat-raised-button color="primary" (click)="postBlog()">发布新博文</button>
    </div>
  </div>
</div>
