@import ../../../../styles/_variable
    
.current-nav-container
    @extend %flex-column
    width: 150px
    padding: 1rem

.avatar-row
    margin-bottom: 1rem
.avatar
    width: 50px
    border-radius: 50px