@import ../../../../styles/layout-three
@import ../../../../styles/_variable

%align-end
    @extend %flex-row
    align-items: flex-end
    padding-bottom: 2px

.left-container
    margin-right: 1rem
    padding-top: 1rem
.right-container
    margin-left: 1rem

.main
    border-left: 1px $border
    border-right: 1px $border

.banner-home
    @extend %flex-row
    align-items: center
    padding: 1rem 1rem .5rem 1rem
    border-bottom: 10px solid transparentize($primary, .9)

.avatar
    border-radius: 50px

.rigth-box-list
    @extend %flex-column
    margin-top: 2rem
    width: 300px
