<div class="container">
  <div class="left-container">
    <div class="left-large bg-primary">
      <h1>LEFT LARGE</h1>
    </div>
    <div class="left-sub bg-accent">
      <h1>LEFT SUB</h1>
    </div>
    
  </div>

  <div class="main">
    <div class="left-small bg-warn">
      <h1>LEFT SMALL</h1>
    </div>
    <h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1>
    <h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1>
    <h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1>
    <h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1>
    <h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1>
    <h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1><h1>MAIN</h1>
  </div>

  <div class="right-container bg-primary">
    <div class="right-box">
      <h1>RIGHT</h1>
    </div>
  </div>
</div>