@import ../../../../styles/variable
@import ../../../../styles/layout-double
    
header
    height: 3rem
    width: 100%
    padding: 7px 0
    .banner
        @extend %flex-row
        max-width: $double-layout-container-width
        margin: auto
        @media screen and ( max-width: $double-layout-container-width )
            max-width: $double-layout-left-width
        $w-logo: 50px
        .logo
            width: $w-logo
        app-search-box
            width: $double-layout-left-width - $w-logo
            margin-right: 20px

.left-side
    margin-right: 15px !important

.explore-info
    @extend %flex-column

.login-box-bottom
    display: none
    padding: 0 15px
    @media screen and ( max-width: $double-layout-container-width )    
        display: flex
        max-width: $double-layout-left-width
        margin: auto
    a
        margin: .5rem
        width: 100%