@import ../../../../styles/layout-double
    
header
    height: 3rem
    width: 100%
    .banner
        display: flex
        flex-direction: row
        max-width: 950px
        margin: auto

.explore-info
    display: flex
    flex-direction: column
    