<header>
  <div class="banner">
    <span class="logo">
      <a routerLink="/">
        <app-logo size="40px"></app-logo>
      </a>
    </span>
    <app-search-box (enter)="search($event)"></app-search-box>
  </div>
</header>
<div class="double-side-container">
  <div class="left-side">
    <div class="explore-info">
      <div class="top">
        <!-- placeholder -->
      </div>
    </div>
  </div>
  <div class="right-side">
    <app-login-box></app-login-box>
    <app-footer></app-footer>
  </div>
</div>
<div class="login-box-bottom">
  <a [routerLink]="['/account', 'login']" mat-raised-button color="primary">登录</a>
  <a [routerLink]="['/account', 'signup']" mat-stroked-button color="primary">注册</a>
</div>
<app-slogan></app-slogan>