<div class="three-layout-container">
  <div class="left-container">
    <div class="left-box">
      <app-current-user-nav *ngIf="isLoggedIn"></app-current-user-nav>
    </div>
  </div>
  <div class="main">
    <div class="banner-home">
      <button *ngIf="!isHomePage" mat-icon-button color="primary" class="layout-small" (click)="goback()"
        style="margin-left: -10px;">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <a routerLink="/">
        <app-logo size="40px"></app-logo>
      </a>
      &nbsp;&nbsp;
      <span>{{account}}</span>
    </div>
    <div class="background">
      <img class="avatar" src="assets/images/no-avatar.jpg" alt="avatar">
    </div>
    <div class="account-information">
      <span class="name">myFor</span>
      <div class="account">@myFor_chen</div>
      <div class="introdution">introdution introdution introdution introdution introdution introdution </div>
      <div class="join-date">
        <mat-icon>date_range</mat-icon>于 2020-01-01 创建
      </div>
    </div>
    <nav mat-tab-nav-bar>
      <a class="nav-link" mat-tab-link [routerLink]="['/', account]" routerLinkActive="nav-active"
        #rla="routerLinkActive" [active]="rla.isActive">
        博文
      </a>
      <a class="nav-link" mat-tab-link [routerLink]="['/', account, 'comments']" routerLinkActive="nav-active"
        #rla="routerLinkActive" [active]="rla.isActive">
        你的评论
      </a>
    </nav>

    <router-outlet></router-outlet>

    <div class="layout-medium">
      <div class="login-bottom-box" *ngIf="!isLoggedIn">
        <a [routerLink]="['/account', 'login']" mat-raised-button color="primary">登录</a>
        <a [routerLink]="['/account', 'signup']" mat-stroked-button color="primary">注册</a>
      </div>
    </div>

  </div>

  <div class="right-container">
    <div class="right-box">
      <div class="rigth-box-list">
        <app-search-box></app-search-box>
        <app-login-box *ngIf="!isLoggedIn"></app-login-box>
        <app-footer></app-footer>
      </div>
    </div>
  </div>

  <div class="layout-small">
    <span class="apply-small">
      <button mat-fab color="primary" (click)="postBlog()">
        <mat-icon>edit</mat-icon>
      </button>
    </span>
  </div>
</div>
