<h2 mat-dialog-title>发布新博文</h2>
<mat-dialog-content>
  <form #postBlog="ngForm">
    <mat-form-field>
      <input type="text" matInput placeholder="标题" required
      [(ngModel)]="newBlog.title" name="title">
    </mat-form-field>
    <div #reference class="reference"></div>
    <div #think class="think"></div>
    <mat-form-field>
      <mat-label>
        {{think.innerHTML ? '有何指教?' : '想说什么?'}}
      </mat-label>
      <textarea matInput cdkTextareaAutosize required id="txt-content" #postContent
      name="content" maxlength="1000" (keyup)="enter($event.target.value)"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <app-number-limit [maxLength]="1000" [currentLength]="postContent.value.length"></app-number-limit>
  <button mat-button mat-dialog-close color="accent">取消</button>
  <button mat-raised-button color="primary" [disabled]="postBlog.invalid || posting" (click)="post()">发布</button>
</mat-dialog-actions>
