<h2 mat-dialog-title>发布新博文</h2>
<mat-dialog-content>
  <form #postBlog="ngForm">
    <mat-form-field>
      <input type="text" matInput placeholder="标题" required
      [(ngModel)]="newBlog.title" name="title">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="您想说的话" cdkTextareaAutosize required
      [(ngModel)]="newBlog.content" name="content" maxlength="1000"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <app-number-limit [maxLength]="1000" [currentLength]="newBlog.content.length"></app-number-limit>
  <button mat-button mat-dialog-close>取消</button>
  <button mat-raised-button color="primary" [disabled]="postBlog.invalid || posting" (click)="post()">发布</button>
</mat-dialog-actions>
