@import ../../../../styles/_variable

.detail
    padding: 1rem
    border-bottom: 1rem solid transparentize($primary, .9)

.comments
    @extend %flex-column

app-comment-box, .newComment
    border-bottom: 1px $border

.more-comments
    text-align: center
    margin: 1rem

.introComment
    @extend %flex-row
    padding: 0 1rem
.new-comment
    flex-grow: 1
    margin: auto 1rem
    textarea
        font-size: 1rem
.avatar
    width: 40px
    height: 40px
    border-radius: 50%
    margin-top: 1.5rem