<div class="detail">
  <app-loading [loading]="loading"></app-loading>
  <app-blog-detail-box [blogDetail]="detail" (commented)="commented($event)"></app-blog-detail-box>
</div>
<div class="newComment">
  <div class="introComment" *ngFor="let intro of newComments">
    <span>
      <img [src]="intro.avatar" class="avatar" alt="avatar">
    </span>
    <mat-form-field class="new-comment">
      <textarea matInput cdkTextareaAutosize readonly>{{intro.content}}</textarea>
    </mat-form-field>
  </div>
</div>
<div class="comments">
  <app-comment-box></app-comment-box>
  <div class="more-comments" *ngIf="unfoldable">
    <button mat-button color="primary">展开更多</button>
  </div>
</div>
